
<div class="jumbotron">
    <%= link_to "Update Email/Password", edit_user_registration_path, class: "btn pull-right btn-info" %>
  <h1>
    <%= current_user.email %>
  </h1>

</div>

<div class="">
  <% if @subscription.active %>
   Your Subscription renews on: <%= Time.at( @stripe_subscription["current_period_end"]).strftime("%D") %>

    <div class="">
        <%= link_to "Cancel Subscription", users_cancel_subscription_path, class: 'btn btn-danger' %>
    </div>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>
