
<div class="jumbotron">
    
    <%= link_to "Change Email/Password", edit_user_registration_path, class: "btn pull-right btn-danger" %>
  <h1>
    <%= current_user.email %>
  </h1>


</div>
<div class="">
  <% if @subscription.active %>
    <%= Time.at( @stripe_subscription["current_period_end"]).strftime("%D") %>

    <%= link_to "Cancel Subscription", users_cancel_subscription_path, class: 'btn btn-danger' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
</div>
