  <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>
          This is a great resource to learn Ruby on Rails, and Ruby. Don't know the difference this is a great place to start.
        </p>
        <p>
          <%= link_to "Start Here", root_path, class: "btn btn-lg btn-primary" %>
        </p>
      </div>

<% @articles.each do |article| %>
  <div class="jumbotron">

    <h1>
      <%= link_to article.name, article %>
      <div class="btn btn-info pull-right">
          <%= time_ago_in_words article.updated_at %>
      </div>
    </h1>

    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="<%= article.video_url %>"></iframe>
    </div>
    <p>
      <%= markdown article.content %>
    </p>
  </div>
<% end %>
