      <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>
          This is a great resource to learn Ruby on Rails, and Ruby. Don't know the difference this is a great place to start.
        </p>
        <p>
          <%= link_to "Start Here", home_about_path , class: "btn btn-lg btn-primary" %>
        </p>
      </div>

      <div class="row">
        
<% @articles.order("published_at DESC").each do |article| %>
      <%= link_to  article do %>
  <div class="jumbotron">

    <div class="row">
      <div class="btn btn-info pull-right">
          <%= time_ago_in_words article.updated_at %>
      </div>
    </div>
    <div class="row">
      
      <h2>
        <%= article.name %>
      </h2>
    </div>

    <% if article.valid_video? %>
      <div class="embed-responsive embed-responsive-4by3 row">
        <iframe class="embed-responsive-item" src="<%= article.video_url %>"></iframe>
      </div>
    <% end %>
    <h3>
      Authored By: A.J. Norton on <%= article.published_at %>
    </h3>
  </div>
  <% end %>
<% end %>
</div>

<div class="pagination-centered text-center">
  <%= will_paginate @articles  %>
</div>

