      <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>
          This is a great resource to learn Ruby on Rails, and Ruby. Don't know the difference?  This is a great place to start.  Make sure to sign up for the monthly newsletter to get up to date learning resources from around the web.  I promise I won't spam you.
        </p>
      </div>

      <div class="row">
        
<% @articles.each do |article| %>
      <%= link_to  article do %>
  <div class="jumbotron">

    <div class="row">
      <% if article.premium %>
        <div class="btn btn-warning pull-left">
          Premium
        </div>
      <% end %>
      <div class="btn btn-info pull-right">
      </div>
    </div>
    <div class="row">
      <h2>
        <%= article.name %>
      </h2>
    </div>

    <% if article.valid_video? %>
      <div class="embed-responsive embed-responsive-4by3 row">
        <iframe class="embed-responsive-item" src="<%= article.video_url %>"></iframe>
      </div>
    <% end %>
    <h3>
      Authored By: A.J. Norton on <%= article.published_at %>
    </h3>
  </div>
  <% end %>
<% end %>
</div>

<div class="pagination-centered text-center">
  <%= will_paginate @articles  %>
</div>

