<!DOCTYPE html>
<html>
<head>
  <title>AppleJuiceScholars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>


  <script src="//load.sumome.com/" data-sumo-site-id="5b754f5c0519b6a3f6f8c59faf3c8123991072bbd88c078be0a990f0eca836b1" async="async"></script>
</head>
<body>

<%= render 'navbar' %>

<div class="container">
    <div class="row">

      <% if notice %>
        <p class="notice alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

        <div class="col-sm-offset-2 col-sm-8">
            <%= yield %>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>


<script src="//my.hellobar.com/d80bfd8d15d33db98a4614a5a6187f3619230195.js" type="text/javascript" charset="utf-8" async="async"></script>

</body>
</html>
